* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body{    
    display: flex;
    width: 1440px;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    box-sizing: border-box;

}
    
body::before{    
    background: url(/img/fondo.png), linear-gradient(180deg, #1875E9 0%, #041832 48.44%, #01080E 100%);
    content:"";
    display: inline-flex;
    height: 755px;
    width: auto;
    padding: 50px 20px;
    justify-content: center;
    align-items: center;
    
}


.contenedor{
    display: flex;
    width: 1440px;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    box-sizing: border-box;

}

/*
.contenedor::before{
    display: inline-flex;
    height: 755px;
    padding: 50px 20px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: url("img/background.png"), #144480 50% / cover no-repeat, linear-gradient(180deg, #1875E9 0%, #041832 48.44%, #01080E 100%);

}
*/

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

}

.principal{
    display: flex;
    width: 1097px;
    padding: 0px 30px;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

}

.texto_focus{
    color: #FFF;
    font-family: Unbounded;
    font-size: 53.7px;
    font-style: normal;
    font-weight: 250;
    line-height: 150%; /* 80.55px */

}

.texto_focus strong{
    color: #FFF;
    font-family: Unbounded;
    font-size: 53px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

}

.boton_principal {
    display: flex;
    width: 180px;
    height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 32px;
    background: var(--Linear-botes, linear-gradient(180deg, #B872FF 0%, #144480 100%));

}

.boton_principal:hover{
    border-radius: 32px;
    border: 1px solid var(--Branco, #FFF);
    background: var(--Linear-botes, linear-gradient(180deg, #B872FF 0%, #144480 100%));

}

